body {
    background-color: #000000fa;
    color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.list {
    color: azure;
    /* border: 0.1px solid #4240408f; */
}

.list-box {
    border-bottom: 1px solid #2e2e2e;
}

.loading {
    text-align: center;
}